<a href="https://colab.research.google.com/github/soumiljainer11/Python_assignment/blob/main/Assinment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1

In [98]:
L=[11,12,13,14]

In [99]:
# 1 add 50 and 60 to L
L.append(50)
L.append(50)
print(L)

[11, 12, 13, 14, 50, 50]

In [100]:
L.insert(5,60)
print(L)

[11, 12, 13, 14, 50, 60, 50]

In [101]:
L.pop(6)

50

In [102]:
print(L)

[11, 12, 13, 14, 50, 60]

1.2 remove 11 and 13

In [103]:
L.pop(0)
L.pop(1)
print(L)

[12, 14, 50, 60]

1.3 ascending sorting L and 1.4 descending sorting

In [104]:
L.sort()
print(L)

[12, 14, 50, 60]

In [105]:
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

1.5 search 13

In [106]:
if(13 in L):
  print("Present")
else:
  print("Not present")

Not present

1.6 count elements

In [107]:
print(L)

[60, 50, 14, 12]

In [108]:
length=len(L)
print(length)

4

1.7 sum of all elements in L

In [109]:
s=0
for i in L:
  s+=i
print(s)

136

1.8 sum of all odd placed

In [110]:
so=0
for i in range(0,length,2):
  so+=L[i]

print(so)

74

1.8 sum of all odd numbers

In [111]:
sumo=0
for i in range(0,length):
  if(L[i]%2!=0):
    sumo+=L[i]

print(sumo)

0

1.9 sum of even numbers

In [112]:
sume=0

for i in range(0,length):
  if(L[i]%2==0):
    sume+=L[i]

print(sume)

136

1.10 sum of all prime numbers

In [113]:
# sump=0
# f=0
# for i in range(0,length):
#   for j in range(2,L[i]//2+1):
#     if(L[i]%j==0):
#       f=1
#       break
#   if(f==0):
#     sump+=L[i]

# print(sump)

In [114]:
L.append(5)
print(L)

[60, 50, 14, 12, 5]

In [115]:
length=len(L)
print(length)

5

In [116]:
sump=0
f=0
for i in range(0,length):
  f=0
  for j in range(2,L[i]//2 + 1):
    if(L[i]%j==0):
      f=1
      break
  if(f==0):
    sump+=L[i]

print(sump)

5

clear all elements in L

In [117]:
L.clear()

In [118]:
print(L)

[]

1.12 delete L

In [119]:
del L

In [120]:
print(L)

NameError: name 'L' is not defined

##2

In [121]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

2.1 add new entry with key 8 and value 8.8

In [122]:
D[8]=8.8

In [123]:
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

2.2 remove key 2

In [124]:
del D[2]

In [125]:
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

2.3 6 key present

In [126]:
print(6 in D)

False

no. of elements in D

In [127]:
print("No. of elements: ", len(D))

No. of elements:  5

Add all values present in D

In [128]:
dsum=0

for i in D:
  dsum+=D[i]

print(dsum)

37.4

2.6 update 3 to 7.1

In [129]:
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [130]:
D[3]=7.1

In [131]:
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

2.7 clear dictionary

In [132]:
D.clear()

In [133]:
print(D)

{}

##3

In [134]:
S1=set([10,20,30,40,50,60])
S2=set([40,50,60,70,80,90])

3.1 Add 55 and 66 in set1

In [135]:
S1.add(55)
S1.add(66)
print(S1)

{66, 40, 10, 50, 20, 55, 60, 30}

In [136]:
S1.remove(10)
S1.remove(30)
print(S1)

{66, 40, 50, 20, 55, 60}

In [137]:
if 40 in S1:
  print("Present")

Present

In [138]:
print("S1: ",S1)
print("S2: ",S2)

S1:  {66, 40, 50, 20, 55, 60}
S2:  {70, 40, 80, 50, 90, 60}

In [139]:
uni=S1.union(S2)
print(uni)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [140]:
inter=S1.intersection(S2)
print(inter)

{40, 50, 60}

In [141]:
dif=S1.difference(S2)
print(dif)

{66, 20, 55}

##4

In [142]:
import random as r

In [143]:
import string as s

4.1 100 random strings whose length varies from 6 to 8

In [144]:
letters=s.ascii_letters+s.digits
print(letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789

In [145]:
# k>=6 and k<=8

for i in range (1,101):
  print(i,": ", r.sample(letters,r.randint(6,8)))

1 :  ['H', '0', 'K', 't', 's', 'U', '7', 'A']
2 :  ['1', '6', 'o', 't', '9', 'z']
3 :  ['k', '1', 'D', '0', 'e', 'R']
4 :  ['K', '0', 'p', 'X', 'o', 'c']
5 :  ['r', '6', 'F', '4', 'L', 'V', 'x', 'l']
6 :  ['M', 'p', 'd', 't', 'c', 'b']
7 :  ['S', 'U', 'P', 'e', 'R', 'Z', 'I', 'N']
8 :  ['i', 'a', 'G', 'V', 'h', 'j']
9 :  ['n', 'w', 'Q', 'd', '0', 'H']
10 :  ['u', 'D', 'o', 'x', 'v', 'h', 'M', 'E']
11 :  ['g', 'J', '9', 'X', 'x', 'N', 'e', 'f']
12 :  ['t', 'S', 'b', 'w', 'd', 'x']
13 :  ['L', 't', 'm', 'q', 'N', 'A']
14 :  ['0', 'G', 'g', 'o', '2', '3', 'c', '6']
15 :  ['Q', 'c', 'y', 's', 'L', 'k', 'D']
16 :  ['k', 'L', '8', 'X', 'b', 'z']
17 :  ['V', 's', 'I', 'R', '6', 'i', 'Q']
18 :  ['C', 'N', 'T', '8', 'c', 'b']
19 :  ['2', 'Z', 'Q', 'L', 'y', '3']
20 :  ['Q', 'h', '5', 'm', 'k', '8', 'E']
21 :  ['w', 'W', 'k', '5', 'Y', 'N']
22 :  ['f', 'S', 'W', 'm', 'j', 'K', '1']
23 :  ['n', '1', 'V', 'l', 'S', 'y']
24 :  ['b', 'g', 'r', 'm', '2', 'P']
25 :  ['7', 'V', 'S', 'N', 'R', 'E', 'p', 'J']
26 :  ['T', 'x', 'b', 'U', 'n', '2']
27 :  ['c', 'B', '3', 'I', 't', 'D']
28 :  ['L', 'B', 'n', 'x', 'S', 'd']
29 :  ['7', 'Q', 'x', 'z', 'q', 'b']
30 :  ['k', 'g', 'R', '1', 'O', 'B', 'u']
31 :  ['V', 'P', 's', 'F', 'n', 'i', 'l']
32 :  ['B', 'a', '1', 'f', '3', 'm']
33 :  ['A', '3', 'T', 'i', 'W', 'P', 'n', 'r']
34 :  ['z', 'c', 'L', 'v', 'j', 'Y']
35 :  ['H', 'i', 'T', 'O', 'A', 'c']
36 :  ['o', 'M', '1', 'd', 'H', 'a']
37 :  ['x', 'B', 'c', 'S', 'j', 'q', 'O', 'U']
38 :  ['K', 'H', 'h', '3', 'F', '1', 'Y', '0']
39 :  ['e', 'v', '0', 'x', 'Z', 'z', 'b', 'R']
40 :  ['h', 'g', 'Q', 'W', 'd', 'U', '4', 'r']
41 :  ['S', 'y', 'r', 'F', 'K', 'j']
42 :  ['O', 'A', 'i', 'w', '1', 'F', 'P', 'G']
43 :  ['Y', '7', 'y', 'u', 'j', 'Z']
44 :  ['I', 'Y', 'M', 'Z', 'k', 'W', 'R', 'g']
45 :  ['H', '3', '6', 'r', 'A', 'j']
46 :  ['L', 'H', '8', 'v', 'I', '7', 'g', 'b']
47 :  ['r', 'I', 'Y', 'E', 'k', 'T']
48 :  ['O', '1', 'F', 'y', 'k', 'Y', 'm', 'E']
49 :  ['i', 'Y', '0', 'y', 'k', 'q', 'X']
50 :  ['X', 'A', 'e', 'O', '6', 'E', 'V']
51 :  ['v', 'A', 'F', 'z', 'B', 'x', 's', '9']
52 :  ['j', 'r', 'b', 'f', '8', 'I']
53 :  ['T', 'G', 'R', '9', 'W', 'c', 'h']
54 :  ['3', 'c', 'b', 'J', 'C', 'E']
55 :  ['B', 'O', 'd', 'l', 'M', 'Z', 'E']
56 :  ['b', 'A', 'W', 'g', 'q', 'y', 'w', '0']
57 :  ['F', '3', 'h', 'G', 'f', 'U']
58 :  ['0', 'e', 'b', 'R', 'l', '1']
59 :  ['U', 'e', 'M', 'r', 'O', 'B', 'F', '8']
60 :  ['H', 'W', 'Z', 'q', 'M', '1', 'D', '7']
61 :  ['V', 'e', '0', '1', 'H', 'T', 't']
62 :  ['R', 'I', '6', 'w', 'a', 'k', 'S', 'G']
63 :  ['u', 'O', 'K', 'v', '6', 'w', 'S']
64 :  ['f', 'i', 'K', '7', 'k', 'e']
65 :  ['A', 'e', 'U', 'I', 'X', '4']
66 :  ['S', 's', 't', 'n', 'Y', 'V']
67 :  ['U', 'u', 'H', 'S', 'Y', 'X', 'l']
68 :  ['a', 'L', 'q', 'I', '5', '9', 's', 'J']
69 :  ['O', 'P', 'G', 'S', 'z', 'D', 'i']
70 :  ['4', '1', 'F', '3', 'w', 'i', 'A', 'L']
71 :  ['I', 'y', 'V', 'P', 'M', '2', 'k']
72 :  ['4', 'H', 'B', '0', 'N', 'k']
73 :  ['5', 'B', 'C', 'Y', 'd', '3', '6', 'm']
74 :  ['Y', 'B', 'I', 'a', 'w', 'z', 'O', '5']
75 :  ['q', 'M', 'o', 'W', 'v', 'd']
76 :  ['q', 'I', '7', 'K', 'S', 'U', 'E', 'D']
77 :  ['0', 'F', 'X', 'k', 'v', 'm', 'q']
78 :  ['m', 'M', 'c', 'u', 'W', '3']
79 :  ['0', 'M', 'U', 'H', 'L', 'x']
80 :  ['0', '9', 'L', 'v', 'i', 'h']
81 :  ['6', 'r', 'i', 'n', 'Z', 'V', 'H', 'M']
82 :  ['u', 'D', 'P', 'R', 'z', 'e', 'r']
83 :  ['S', 'D', 'C', '8', '4', 'd', '6', '0']
84 :  ['E', 'F', 'c', 'h', '4', 'M']
85 :  ['F', 'm', 'u', 'z', 'q', 'o']
86 :  ['A', '9', 'M', 'a', 'l', 'B']
87 :  ['u', 'J', 'Z', '7', 'b', 'U', 'T', 'V']
88 :  ['T', 'c', 'b', 'Y', 'v', 'r']
89 :  ['6', 'W', '1', 'N', 'l', 'f', 'y']
90 :  ['z', 'c', 'U', 'd', '5', '8', 'A', 'n']
91 :  ['U', 'm', 'P', 'I', 'b', 'a', 'H', 'p']
92 :  ['o', 'b', 'V', 'f', 'h', 'D', 'z']
93 :  ['7', 'Z', 'f', 'r', 'n', 'b', 'h']
94 :  ['K', 'D', 'y', 'x', 'n', 'R', 'I', 'o']
95 :  ['Z', 'W', '1', 'Q', 'C', 'G']
96 :  ['r', 'p', 'y', 'Z', 'b', 'w']
97 :  ['z', '2', 'p', 'g', 'l', 'X']
98 :  ['m', 'H', 'z', 'p', 'x', 'v', 'L', 't']
99 :  ['o', 'S', '4', 'K', 'm', 'T', 'n', 'b']
100 :  ['W', 'j', 'Q', 'P', '6', 'q', 'r', 'u']

4.2 prime numbers between 600 and 800

In [146]:
def isPrime(n):
  for i in range(2,n//2+1):
    if(n%i==0):
      return False
  return True

In [147]:
for i in range(600,801):
  ans=isPrime(i)

  if(ans):
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

4.3 all numbers div by 7 and 9

In [148]:
def isDiv(n):
  if(n%7==0 and n%9==0):
    return True
  return False

In [149]:
for i in range(100,1001):
  ans=isDiv(i)
  if(ans):
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

##5

In [150]:
A = range(10,31)

L1=r.sample(A,10)
print(L1)

[16, 26, 29, 28, 14, 13, 11, 20, 18, 30]

In [151]:
L2=r.sample(A,10)
print(L2)

[22, 26, 29, 14, 11, 25, 27, 13, 30, 19]

common numbers in both the lists

In [152]:
inters=list(set(L1).intersection(L2))
print(inters)

[11, 13, 14, 26, 29, 30]

5.2 unique numbers in both the lists

In [153]:
# a = set('abracadabra')
# b = set('alacazam')

#  a                                  # unique letters in a
# {'a', 'r', 'b', 'c', 'd'}


#  a - b                              # letters in a but not in b
# {'r', 'd', 'b'}


#  a | b                              # letters in a or b or both
# {'a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'}


#  a & b                              # letters in both a and b
# {'a', 'c'}


#  a ^ b                              # letters in a or b but not both
# {'r', 'd', 'b', 'm', 'z', 'l'}

In [154]:
unique_values=list(set(L1)|set(L2) - set(L1)&set(L2))
print(unique_values)

[11, 13, 14, 16, 18, 19, 20, 22, 25, 26, 27, 28, 29, 30]

In [157]:
Uni_val=list(set(L1+L2))
print(Uni_val)

[11, 13, 14, 16, 18, 19, 20, 22, 25, 26, 27, 28, 29, 30]

5.3 min in both the list

In [158]:
L3=L1+L2

In [161]:
L3.sort()
print(L3[0])

11

5.4 max in both the list

In [163]:
size=len(L3)
print(size)

20

In [167]:
print(L3[19])

30

sum of both the list

In [169]:
print(L1)
print(L2)

[16, 26, 29, 28, 14, 13, 11, 20, 18, 30]
[22, 26, 29, 14, 11, 25, 27, 13, 30, 19]

In [168]:
FL=[]
for i in range(0,len(L1)):
  FL.append(L1[i]+L2[i])
print(FL)

[38, 52, 58, 42, 25, 38, 38, 33, 48, 49]

##6

In [172]:
B=range(100,901)

In [179]:
L4=r.sample(B,100)
print(L4)

[662, 162, 611, 320, 787, 700, 161, 151, 276, 239, 767, 329, 880, 613, 166, 851, 431, 333, 170, 315, 378, 377, 353, 127, 651, 635, 313, 177, 864, 116, 295, 142, 392, 152, 752, 789, 605, 204, 897, 114, 440, 860, 456, 113, 252, 153, 557, 111, 506, 666, 550, 267, 155, 762, 146, 446, 103, 512, 464, 668, 754, 471, 348, 217, 383, 263, 803, 134, 657, 475, 761, 322, 362, 369, 792, 751, 589, 462, 736, 496, 240, 555, 526, 364, 746, 882, 121, 489, 226, 210, 816, 778, 225, 180, 533, 207, 237, 592, 249, 627]

In [178]:
print(len(L4))

100

count and print: all odd numbers

In [183]:
cnt=0

for i in range(len(L4)):
  if(L4[i]%2!=0):
    cnt+=1
    print(L4[i])

print("Count: ",cnt)

611
787
161
151
239
767
329
613
851
431
333
315
377
353
127
651
635
313
177
295
789
605
897
113
153
557
111
267
155
103
471
217
383
263
803
657
475
761
369
751
589
555
121
489
225
533
207
237
249
627
Count:  50

count and print all even numbers

In [184]:
cnte=0

for i in range(len(L4)):
  if(L4[i]%2==0):
    cnte+=1
    print(L4[i])

print("Count: ",cnte)

662
162
320
700
276
880
166
170
378
864
116
142
392
152
752
204
114
440
860
456
252
506
666
550
762
146
446
512
464
668
754
348
134
322
362
792
462
736
496
240
526
364
746
882
226
210
816
778
180
592
Count:  50

count and print all prime numbers

In [186]:
cntp=0
flag=0

for i in range(len(L4)):
  flag=0
  for j in range(2,L4[i]//2+1):
    if(L4[i]%j==0):
      flag=1
      break
  if(flag==0):
    cntp+=1
    print(L4[i])

print("Count of all prime numbers: ",cntp)

787
151
239
613
431
353
127
313
113
557
103
383
263
761
751
Count of all prime numbers:  15

##7

In [187]:
D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}

In [188]:
for i in D:
  print("Key->", i ,"Value->",D[i])

Key-> 1 Value-> One
Key-> 2 Value-> Two
Key-> 3 Value-> Three
Key-> 4 Value-> Four
Key-> 5 Value-> Five

In [205]:
str=()
fp=open('Dict_value.txt','w')	# Open the file in writing mode
for i in D:
  str=[i,D[i]]
  fp.write(str)
  # fp.write(i,D[i] +"\n")	# Writing to the file line by line
fp.close()

print ("Writing done !! \nOpen Dict_value.txt to view the content")

NameError: name 'string' is not defined

##8

In [206]:
L5={"One","Two","Three","Four","Five"}

In [210]:
print(L5)

{'One', 'Three', 'Five', 'Two', 'Four'}

In [211]:
str=""

for ele in L5:
  str+=ele
  str=str+" "

print(str)

One Three Five Two Four

In [218]:
rev_str=str[::-1]

In [228]:
# from logging import NullHandler
count=1
ans=""
i=0

for i in range(0,len(str)):
  count+=1
  ans=ans+str[i]
  i+=1
  if(str[i]==" "):
    print(ans,"",count-1)
    # print(count-1)
    count=0
    ans=""

One  3
 Three  5
 Five  4
 Two  3
 Four  4

IndexError: string index out of range

##9

In [229]:
C=range(10,15)

In [230]:
import string as s
import random as r

In [233]:
exmp=s.ascii_letters
print(exmp)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [235]:
# print(r.sample(s.ascii_letters,100))

ValueError: Sample larger than population or is negative